<footer>
    <div class="container">
        <!-- .items-footer -->
        <div class="row clearfix items-footer">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <h3>За e-Setter</h3>
                <p>
                    e-Setter е платформа која ви овозможува да креирате уникатна нумеричка електронска адреса
                     како што е нумерацијата на вашиот мобилен телефон на домен според префиксот на вашиот мобилен број и исто така да пристапите до Вашето електронско сандаче.
                </p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <h3>e-Setter</h3>
                <ul class="list-unstyled">
                    <li><a href="/Home/Index">Дома</a></li>
                    <li><a href="/Home/faq">ЧПП</a></li>
                    <li><a href="/Home/settingmail">Сетирање на мобилен</a></li>
                    <li><a href="/Home/privacyProtection">Заштита на лични податоци</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <h3>Контактирајте не</h3>
                <p><i class="fa fa-envelope"></i> <a href="mailto:contact@e-setter.mk">contact@e-setter.mk</a></p>
            </div>
        </div><!-- /.items-footer -->
        <!-- .copyright -->
        <div class="row clearfix copyright">
            <!-- .social-icon -->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 social-icon">
                <ul class="list-unstyled list-inline">
                    <li><a href="#" class="icon-facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" class="icon-twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a target="_blank" href="https://instagram.com/esettermk?igshid=2au6mprut66l" class="icon-instagram"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div><!-- /.social-icon -->
            <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8 copyright-text">
                <p>Сите права се задржани. © 2021 - Дизајнирано од <a href="http://codepro.mk" target="_blank">CodePro</a></p>
            </div>
        </div><!-- /.copyright -->
    </div>
</footer>