<div id="privacy">
    <h2>Заштита на лични податоци</h2>
    <hr />
    <p>Водич за заштита на личните податоци во e-Setter.mk</p>
    <hr />
    <h5>1. Цел на Водичот</h5>
    <div>
        <p>
            Правото на приватност и заштитата на личните податоци на корисниците претставува
            приоритет во работењето на e-Setter.mk. Ние како компанија посветуваме големо
            внимание на заштитата на личните податоци во сите свои деловни процеси,
            имплементирајќи ги стандардите поставени со прописите за приватност и заштита на
            личните податоци во Република Северна Македонија.
            <p/>
        <p>
            Овој Водич треба да биде практична алатка којашто дава појаснување за значењето на
            термините кои се користат во прописите за заштита на личните податоци, ги разработува
            начелата за заштита на личните податоци кои задолжително се земаат предвид при секоја
            обработка на личните податоци на корисниците и вработените на e-Setter.
        </p>

    </div>
    <h5>2. Значење и дефиниции на термините употребени во Водичот </h5>
    <div>
        <ol>
            <li>
                <p><span>2.1. Термини кои произлегуваат од прописите за заштита на личните податоци</span></p>
                <p>
                    <span>ЛИЧЕН ПОДАТОК</span> е информација која се однесува на идентификувано физичко лице или
                    физичко лице кое може да се идентификува. Лице кое може да се идентификува е лице чиј
                    идентитет може да се утврди директно или индиректно, врз основа на матичен број на
                    граѓанинот или врз основа на едно или повеќе обележја специфични за неговиот физички,
                    физиолошки, ментален, економски, културен или социјален идентитет.
                    Лични податоци се: име и презиме, адреса, датум на раѓање, единствен матичен број на
                    граѓанинот, број на лична карта, фотографија на документи за идентификација, телефонски
                    број, е-маил адреса и др.
                </p>
                <p>
                    Под <span>ОБРАБОТКА НА ЛИЧНИТЕ ПОДАТОЦИ</span> се подразбира операција или збир на операции
                    што се изведуваат врз личните податоци на автоматски или друг начин, како што е:
                    собирање, евидентирање, организирање, чување, приспособување или промена,
                    повлекување, консултирање, употреба, откривање преку пренесување, објавување или на
                    друг начин правење достапни, изедначување, комбинирање, блокирање, бришење или
                    уништување.
                </p>
                <p>
                    <span>СУБЈЕКТ НА ЛИЧНИ ПОДАТОЦИ</span> е физичко лице чии лични податоци се обработуваат
                </p>
                <p>
                    <span>КОНТРОЛОР НА ЛИЧНИ ПОДАТОЦИ</span> е физичко или правно лице, орган на државната власт
                    или друго тело, кое самостојно или заедно со други ги утврдува целите и начинот на
                    обработка на личните податоци.
                </p>
                <p>
                    <span>ОФИЦЕР ЗА ЗАШТИТА НА ЛИЧНИТЕ ПОДАТОЦИ</span> е лице кое е овластено од контролорот да
                    ја следи имплементацијата на прописите за заштита на личните податоци и да обезбедува
                    усогласеност на работењето со начелата за заштита на личните податоци.
                </p>
            </li>
        </ol>
    </div>
    <h5>3. Начела за заштита на личните податоци</h5>
    <div>
        При обработката на личните податоци се раководиме од следните начела за заштита на
        личните податоци:
        <ol>
            <li>
                •	Да се обработуваат правично и во согласност со закон
                <br />
                Вообичаено, правичната обработка на личните податоци, подразбира почитување на „начелото на неопходност“ – обработка на податоци во обем кој е неопходен за остварување на конкретна цел. Обработката на личните податоци во согласност со закон подразбира постоење на законска основа и почитување на евентуалните законски ограничувања што произлегуваат од други закони. Податоците кои се обработуваат врз основа на закон, може да се користат за:
                <br />
                <ol>
                    <li>o	склучување, надзор и престанок на договор</li>
                    <li>o	наплата на услуги </li>
                    <li>o	известување за интервјуа за вработување</li>
                    <li>
                        o	вработување или практична работа
                    </li>
                    <li>
                        o	известување за неплатени обврски
                    </li>
                    <li>
                        o	доставување на новости поврзани со е-Сетер
                    </li>
                    <li>
                        o	испраќања на известувања до корисници
                    </li>
                    <li>
                        o	комуникација со државни институции
                    </li>
                </ol>
            </li>
            <li>
                •	Да се собираат за конкретни, јасни и со закон утврдени цели и да се обработуваат на начин што е во согласност со тие цели.
                <br />
                Користењето на производи и услуги не се условува со согласност на корисникот за користење на неговите податоци за други цели, освен за исполнување на правата и обврските што произлегуваат од склучениот договор.
               
            </li>
            <li>
                •	Да се релевантни, соодветни и не во поголем обем во однос на целта што треба да се оствари со нивната обработка (економија на податоци)
                <br />
                „Начелото за неопходност“ го ограничува обемот на податоци што може да се обработуваат, само на оние што се неопходни за исполнување на целите заради кои се обработуваат. На пример, без оглед на видот на воспоставениот деловен однос, обработката на податокот за националната припадност за корисникот, би била нерелевантна, несоодветна и преобемна.
            </li>
            <li>
                •	Да се точни, целосни и каде што е потребно ажурирани, при што ќе се преземат сите соодветни мерки за бришење или коригирање на податоците, имајќи ги предвид целите заради кои биле собрани или обработени (квалитет на податоци)
                <br />
                Ова начело се однесува на квалитетот на податоците, според кое E-Setter како контролор на личните податоци се грижат за нивната точност. Ажурирањето на податоците значи заменување на податоци, кои некогаш биле точни, со нови податоци или нивно дополнување. Истовремено, корисникот има право да бара да се преземат активности за бришење или корегирање на неговите податоци.
            </li>
            <li>
                •	Да се чуваат во форма што овозможува идентификација на корисникот, не подолго од времето што е потребно за исполнување на целта поради која податоците се собрани
                <br />
                Ова начело го ограничува периодот во кој личните податоци може да бидат законски обработувани, при што по престанување на целта заради која истите се собрани, треба да се избришат или уништат, односно да се анонимизираат. При престанок на договорниот однос, овие податоци мора да се чуваат во период од 1 (една) година од денот на издавање на последната фактура за обезбедените услуги.
                <br />
                Се смета дека е постапено согласно начелото за бришење на податоците и во случај доколку се изврши бришење на идентификациските карактеристики на корисниците (анонимизација) или замена на идентификациските карактеристики со други карактеристики (псеводонимизација). Анонимизација и псеводонимизација се вршат на таков начин што идентитетот на корисникот не може да се открие или може да се открие само со неразумно големи напори.

            </li>
        </ol>
        
    </div>
    <h5>4.	Права на корисниците </h5>
    <div>
        Корисниците-субјекти на лични податоци имаат право:
        <br />
        <ol>
            <li>
                •	да бидат информирани за обработката на нивните лични податоци
            </li>
            <li>
                •	да пристапат до нивните лични податоци и
            </li>
            <li>
                •	да ги дополнат, изменат, избришат или да бараат запирање на користењето на нивните лични податоци
            </li>
        </ol>
        <br />
        Во продолжение, следува подетално појаснување во однос на овие права:
        <ol>
            <li>
                •	Во функција на транспарентност, E-Setter има обврска да го известат корисникот за целите и правната основа на обработката на неговите лични податоци.
            </li>
            <li>
                •	Секој корисник има право да пристапи до своите лични податоци. Барањето за пристап до податоците мора да се достави во писмена форма или преку веб страната на e-Setter (https://e-setter.mk)  при што одговорот на корисникот ќе се даде во рок од 15 дена од денот на приемот на барањето.
                Доколку корисникот не добие одговор на барањето за пристап до лични податоци, може да поднесе барање за утврдување на повреда на правото на заштита на личните податоци пред Агенцијата за заштита на личните податоци.

            </li>
            <li>
                •	Корисникот има право да бара дополнување, изменување, бришење или запирање на користењето на неговите лични податоци. По барање на корисникот, e-Setter е должен да ги дополни, измени, избрише или да го запре користењето на личните податоци, ако податоците се нецелосни, неточни или неажурирани и доколку нивната обработка не е во согласност со закон. Независно од тоа дали корисникот има поднесено барање за дополнување, изменување или бришење на личните податоци, доколку e-Setter утврди дека личните податоци се нецелосни, неточни или неажурирани, должен е истите да ги дополни, измени или избрише. e-Setter е должен најдоцна во рок од 30 дена од денот на приемот на барањето, писмено да го извести субјектот на лични податоци за направените дополнувања, измени или бришења
            </li>
        </ol>
    </div>
    <h5>5.	Обврски на E-SETTER </h5>
    <div>
       <ol>
           <li>
               <p>
                   <span>
                       5.1.	Обврска на вработените/ангажираните лица за заштита на личните податоци
                   </span>
               </p>
               Вработените/ангажираните лица во e-Setter при преземањето на нивните работни задачи и обврски:
               <ol>
                   <li>•	Се запознаваат со прописите за заштита на личните податоци, како и со донесената документација за технички и организациски мерки за обезбедување на тајност и заштита при обработката на личните податоци. </li>
                   <li>
                       •	Своерачно потпишуваат Изјава за тајност и заштита при обработката на личните податоци.
                       Со оваа Изјава се обврзуваат дека ќе ги почитуваат начелата за заштита на личните податоци, ќе вршат нивна обработка согласно упатствата добиени од E-Setter, освен ако со закон поинаку не е уредено и ќе ги чуваат како доверливи личните податоци, како и мерките за нивна заштита. Ваквата изјава важи и по престанокот на нивниот работен однос/ангажман во E-Setter.

                   </li>
                   <li>
                       •	Посетуваат задолжителна обука за заштита на личните податоци.
                   </li>
               </ol>
               e-Setter врши континуирано информирање на вработените/ангажираните лица за непосредните обврски и одговорности за заштита на личните податоци.
           </li>
           <li>
               <p><span>5.2.	Информирање на корисникот за неговите права </span></p>
               E-Setter има обврска да го информираат корисникот за
               <ol>
                   <li>
                       •	идентитетот на контролорот;
                   </li>
                   <li>
                       •	целите за обработката;
                   </li>
                   <li>
                       •	правото на пристап, измена или бришење на личните податоци
                   </li>
               </ol>
           </li>
           <li>
               <p><span>5.3.	Согласност на корисникот за секоја дополнителна обработка на личните податоци</span></p>
               За секоја дополнителна обработка на податоци, надвор од целите на исполнување на воспоставениот претплатнички однос, e-Setter обезбедува посебна согласност. Согласноста е слободно и изречно дадена изјава на волја на корисникот со која се согласува да се врши обработка на неговите лични податоци за определена цел.
               <br />
               Само врз основа на претходно дадена согласност, може да се врши обработка на личните податоци на корисникот за цели на директен маркетинг (opt-in принцип).
               <ol>
                   <li>
                       <p><span>5.3.1.	Што е директен маркетинг</span></p>
                       Секој вид на комуникација остварена на било кој начин со цел испраќање на рекламен, маркетиншки или пропаганден материјал која е насочена директно до идентификуван корисник.

                   </li>
               </ol>
           </li>
           <li>
               <p><span>5.4.	Надворешни лица</span></p>
               Правните и физички лица кои стапуваат во деловен однос со E-Setter, врз основа на кој имаат пристап до документација и лични податоци на корисниците на E-Setter се обврзуваат на доверливост и заштита на личните податоци со посебни договори за доверливост и за обработка на податоци.
           </li>
       </ol>
    </div>
    <h5>6.	На кого треба да се обрати корисникот со цел да ги оствари своите права? </h5>
    <div>
        Корисникот може да се обрати на Офицерот за заштита на личните податоци во E-Setter. Офицерот за заштита на лични податоци постапува согласно внатрешните прописи со цел правата на корисникот да бидат остварени на едноставен, брз и ефикасен начин без да се предизвика непотребно одложување или трошоци.
        <br />

        Корисникот добива одговор на барањето во рок од 15 дена.
        <br />
        <ol>
            <li>
                <p><span>6.1.	Која е следната инстанца на која може да се обрати корисникот?</span></p>
                Доколку корисникот не е задоволен од одговорот и информациите дадени од Офицерот за заштита на личните податоци на E-Setter и доколку смета дека неговите права се повредени, може да поднесе барање за утврдување на повреда на правото на заштита на личните податоци до Агенцијата за заштита на личните податоци.
            </li>
        </ol>
    </div>
    
</div>
