<div id="privacy">
    <h2>Заштита на лични податоци</h2>
    <hr />
    <ul>
        <li>
            <a href="~/Consent/informacii-za-subjektot-na-licni-podatoci.pdf" target="_blank">Информации за субјектот на лични податоци</a>
        </li>
        <li>
            <a href="~/Consent/izjava-za-soglasnost-na-obrabotka-na-licni-podatoci.pdf" target="_blank">Изјава за согласност за обработка на лични податоци</a>
        </li>
        <li>
            <a href="~/Consent/politika-na-kolacinja.pdf" target="_blank">Политика на колачиња</a>
        </li>
        <li>
            <a href="~/Consent/politika-na-privatnost.pdf" target="_blank">Политика на приватност</a>
        </li>
        <li>
            <a href="~/Consent/vodic-za-zastita-na-licini-podatoci.pdf" target="_blank">Водич за зашитата на лични податоци</a>
        </li>
    </ul>
    
</div>
