
@{
    ViewBag.Title = "ЧПП";

    <style>
        br {
            display: block;
            content: "";
            margin-top: 10px;
        }
        h2, h4{
            font-weight:bold;
        }
    </style>
}

<div class="container" id="main_container">
    <!-- header -->
    @Html.Partial("_header")
    <section id="settingsSec">
        <div class="container">
            <div class="row clearfix">
                <div id="settings">
                    <h2>Често Поставувани Прашања</h2>
                    <hr />
                    <div class="row">
                        <h4>Како се активира услугата?</h4>
                    </div>
                    <div class="row">
                        <p>Услугата се активира со праќање на SMS порака на бројот 149444 со содржина на порака START. (важи за сите оператори)</p>
                    </div>
                    <div class="row">
                        <h4>Зошто е потребен датумот за раѓање при конфирмацијата на акаунтот?</h4>
                    </div>
                    <div class="row">
                        <p>Датумот за раѓање ни е потребен за автентификација на корисникот односно во случај на заборавена лозинка, при ресетирање на истата, да се автентефицира дека се работи за вистинскиот корисник на тој телефонски број.</p>
                    </div>
                    <div class="row">
                        <h4>Како да си ја променам лозинката?</h4>
                    </div>
                    <div class="row">
                        <p>Лозинката може да ја промените при избор на "Промени лознка" што се наоѓа под делот за најава. Задолжителен е внесот на телефонскиот број, префиксот, како и сеуште актуелната лозинка. Сите тие податоци мора да се постоечки за да може да се промени старата лозинка со новата која ја внесовте пополнувајќи ја според бараните критериуми.</p>
                    </div>
                    <div class="row">
                        <h4>Што ако ја заборавам лозинката?</h4>
                    </div>
                    <div class="row">
                        <p>Во случај да ја заборавите лозинката, ќе пратите СМС на 149941 со содржина .</p>
                    </div>
                    <div class="row">
                        <h4>Како да ја деактивирам услугата?</h4>
                    </div>
                    <div class="row">
                        <p>Услугата се деактивира со праќање на SMS порака на бројот 149444 со содржина STOP.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @Html.Partial("_footer")
</div>